#schedule-table td,
#schedule-table th {
    text-align: center !important;
    vertical-align: middle !important;
}

#schedule-table tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#schedule-table tr td {
    padding: 4px;
}

#schedule-table td.disable-border {
    border-top: none;
}

.cursor-pointer {
    cursor: pointer;
}