#schedule-table table td,
#schedule-table table th {
    text-align: center !important;
    vertical-align: middle !important;
}

/* #schedule-table tr td:first-child {
    width: 1%;
    white-space: nowrap;
} */

#schedule-table table tr td {
    padding: 4px;
}

#schedule-table table td.disable-border {
    border-top: none;
}

#schedule-table table {
    min-width: 900px;
}

#schedule-table {
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}